include /components/expandable-checklist/expandable-checklist.pug

doctype html
html(lang="ru-RU")
    head
        title ТЕСТ
    body
        script(src='./main.js')
        +expandable-checklist("test", ["asd", "add", "ss"], "action")
        