doctype html
html(lang="ru-RU")
    head
        title ТЕСТ
    body
        script(src='./main.js')
        include elements/header/header.pug
        main
            include elements/login/login.pug
        include elements/footer/footer.pug
        