doctype html
html(lang="ru-RU")
    head
        title ТЕСТ
    body
        script(src='./main.js')
        form(action='submit', method='post')
        div
            input.toggle__checkbox(type='checkbox', name="one", value=val, id="one")
            label.toggle__label(for="one")="Text field"

            
            