@import "colors-type.scss";

ul {
  margin: 0;
  padding: 0;
}

.bullet-list {
  list-style-type: none;
  font-style: normal;
  &__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    margin-bottom: 12px;
    position: relative;
  }

  &__item {
    @extend %fontBody;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    &::before {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(31, 32, 65, 0.25);
    }
  }
}
