include __button/button.pug

header.header
    a.header__logo(href="#")
        img.header__logo__image(src="./elements/header/__logo/logo.svg")
    include __menu/menu.pug
    div.buttons
        +button-border("#login", "войти")
        +button-colored("#register", "зарегистрироваться")