div.footer__bottom-panel
    div.footer__bottom-panel__copyright Copyright © 2018 Toxin отель. Все права зачищены.
    div.footer__bottom-panel__social
        a.footer__bottom-panel__social__link(href="#twitter") 
            img.footer__bottom-panel__social__logo(src="./img/svg/tw.svg")
        a.footer__bottom-panel__social__link(href="#facebook") 
            img.footer__bottom-panel__social__logo(src="./img/svg/fb.svg")
        a.footer__bottom-panel__social__link(href="#instagram") 
            img.footer__bottom-panel__social__logo(src="./img/svg/inst.svg")
