div.footer__navbar
    div.footer__navbar__info
        img.footer__navbar__info__logo(src="./img/svg/logo.svg")
        div.footer__navbar__info__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div.footer__navbar__subscribe
        p.footer__navbar__subscribe__label Подписка
        p.footer__navbar__subscribe__text Получайте специальные предложения и новости сервиса
        +subscribition-field("qwe")