//- include include components/rating/rating.pug

div.rating
    input.rating__button(type="radio" name="rating" id="rating5")
    label.rating__label.material-icons(for="rating5")
    input.rating__button(type="radio" name="rating" id="rating4")
    label.rating__label.material-icons(for="rating4")
    input.rating__button(type="radio" name="rating" id="rating3")
    label.rating__label.material-icons(for="rating3")
    input.rating__button(type="radio" name="rating" id="rating2")
    label.rating__label.material-icons(for="rating2")
    input.rating__button(type="radio" name="rating" id="rating1")
    label.rating__label.material-icons(for="rating1")