@import "colors-type.scss";

.feature {
  margin: 0;
  padding: 0;
  width: 280px;
  min-height: 88px;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);

  border-collapse: inherit;

  &:last-of-type {
    border-bottom: none;
  }
  &__logo {
    float: left;
    align-items: center;
    text-align: center;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    font-size: 48px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__label {
    padding: 0px;
    margin: 0px;
    top: 20px;
    left: 10px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    @extend %fontBody;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    top: 20px;
    left: 10px;
    @extend %fontBody;
  }
}
