mixin dropdown_rooms
    div.dropdown
        div.dropdown__visible(id="dropdown-visible")
            p.dropdown__visible__summary Количество комнат
            button.dropdown__visible__button.material-icons(id="dropdown-expand") expand_more
        div.dropdown__expantion-hidden(id="dropdown-expantion")
            div.dropdown__expantion__item 
                div.dropdown__expantion__item__text спальни
                button.dropdown__expantion__item__button -
                span.dropdown__expantion__item__counter 0
                button.dropdown__expantion__item__button +
            div.dropdown__expantion__item
                div.dropdown__expantion__item__text кровати
                button.dropdown__expantion__item__button -
                span.dropdown__expantion__item__counter 0
                button.dropdown__expantion__item__button +
            div.dropdown__expantion__item
                div.dropdown__expantion__item__text ванные комнаты
                button.dropdown__expantion__item__button -
                span.dropdown__expantion__item__counter 0
                button.dropdown__expantion__item__button +