@import "colors-type.scss";

.like {
  width: 40px;
  height: 20px;
  &__button {
    text-align: right;
    display: inline-block;
    align-items: center;
    font-size: 10px;
    line-height: 10px;
    width: 40px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    $border: 1px;
    color: $dark25;
    background: #ffffff;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 22px;
    cursor: pointer;

    &::after {
      position: relative;
      left: -24px;
      top: 4px;
      content: "favorite_border";
    }

    &:hover {
      color: #bc9cff;

      &::before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background-color: $dark25;
    }

    &__clicked {
      text-align: right;
      display: inline-block;
      align-items: center;
      font-size: 10px;
      line-height: 10px;
      width: 40px;
      height: 20px;
      position: relative;
      box-sizing: border-box;
      $border: 1px;
      color: #bc9cff;
      background: #ffffff;
      background-clip: padding-box;
      border: solid $border transparent;
      border-radius: 22px;
      cursor: pointer;

      &::after {
        position: relative;
        left: -24px;
        top: 4px;
        content: "favorite";
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
  }

  &__counter {
    display: inline-block;
    position: relative;
    top: 2.5px;
    left: -1px;
    font-family: $fontMont;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
}
